%h2 Create your custom css!!!

- if @style.errors.full_messages.any?
  - @style.errors.full_messages.each do |error_message|
    = error_message if @style.errors.full_messages.first == error_message
    %br/

= form_for @style do |f|
  %hr
  = image_tag @current_style.logo.thumb.url
  %br
  = f.label :logo
  = f.file_field :logo
  %hr
  = f.label :background_color
  %br
  = f.text_field :background_color
  %hr
  = f.label :block_height
  %br
  = f.text_field :block_height
  %hr
  = f.label :name_color
  %br
  = f.text_field :name_color
  %hr
  = f.label :name_style
  %br
  = f.text_field :name_style
  %hr
  = f.label :name_size
  %br
  = f.text_field :name_size
  %hr
  = f.label :text_color
  %br
  = f.text_field :text_color
  %hr
  = f.label :text_style
  %br
  = f.text_field :text_style
  %hr
  = f.label :text_size
  %br
  = f.text_field :text_size
  %hr
  = f.label :email_color
  %br
  = f.text_field :email_color
  %hr
  = f.label :email_style
  %br
  = f.text_field :email_style
  %hr
  = f.label :email_size
  %br
  = f.text_field :email_size
  %hr


  = f.submit "Save"
