%h2 Create your custom css!!!

- if @style.errors.full_messages.any?
  - @style.errors.full_messages.each do |error_message|
    = error_message if @style.errors.full_messages.first == error_message
    %br/

= form_for @style do |f|
  %hr
  = image_tag @current_style.logo.thumb.url
  %br
  = f.label :logo
  = f.file_field :logo
  %hr
  = f.label :background_color
  %br
  = f.text_field :background_color
  %hr
  = f.label :font_color
  %br
  = f.text_field :font_color
  %hr
  = f.label :font_style
  %br
  = f.text_field :font_style
  %hr
  = f.label :font_size
  %br
  = f.text_field :font_size
  %hr
  = f.submit "Save"
